# Python virtual environment
venv/
__pycache__/
*.pyc

# Node.js dependencies
node_modules/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Weaviate local database data
weaviate_data/

# Environment file with secret API keys
.env